.mySlide {
    height: 88vh;
}

.myImg {
    width: auto;
    height: auto;
    max-height: 350px;

    margin: auto;
    padding: 10px;
}

.oS {
    color: black;
}

.firstPage {
    background-color: rgb(153, 204, 255);
}